<div class="clearfix"></div>
<div class="col-9">
  <button type="button" class="btn btn-success pull-right" (click)="openModal(newComponent, null)">New Component</button>
  <h4 class="text-muted">Components:</h4>
  <hr>
  <accordion>
    <!--Make dynamic with ngFor for each component-->
    <accordion-group heading="Component: {{component.id}}" *ngFor="let component of components">
      <div class="btn-group pull-right">
        <button type="button" class="btn btn-default" (click)="openModal(editComponent, component)">Edit</button>
        <button type="button" class="btn btn-danger" (click)="openModal(deleteComponent, component)">Delete</button>
      </div>
      <p>
        Status: {{component.status}}
      </p>
      <p>
        Comment: {{component.comment}}
      </p>
      <br>
      <button type="button" class="btn btn-info">Component Log</button>
      <p class="text-muted pull-right" id="timestamp">Creation date: {{component.timestamp | date:'mediumDate'}}</p>
    </accordion-group>
  </accordion>
</div>

<ng-template #newComponent>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New Component</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-control" [formGroup]="componentForm" (ngSubmit)="onCreateComponent()">
      <label>Status (Optional)</label>
      <textarea type="text" class="form-control" placeholder="Status..." formControlName="status" tooltip="Current status of the component" autofocus></textarea>
      <label>Comment (Optional)</label>
      <textarea type="text" class="form-control" placeholder="Comment..." formControlName="comment" tooltip="Comments about the component"></textarea>

      <button class="btn btn-success btn-block" type="submit">
        Create
      </button>
    </form>
  </div>
</ng-template>

<ng-template #editComponent>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Component {{selectedComponent.id}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-control" [formGroup]="componentForm" (ngSubmit)="onUpdateComponent()">
      <label>Status</label>
      <textarea type="text" class="form-control" placeholder="Status..." formControlName="status" value={{selectedComponent.status}} tooltip="Current status of the component" required></textarea>
      <label>Comment</label>
      <textarea type="text" class="form-control" placeholder="Comment..." formControlName="comment" value={{selectedComponent.comment}} tooltip="Any other comments about the component"></textarea>
      <button class="btn btn-success btn-block" type="submit">
        <!--TODO: Edit component-->
        Submit
      </button>
    </form>
  </div>
</ng-template>

<ng-template #deleteComponent>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete Component {{selectedComponent.id}}?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>The component will be deleted, but can be restored with a rollback</p>
    <button class="btn btn-danger btn-block" type="submit" (click)="onDeleteComponent()">
      <!--TODO: Delete component-->
      Delete
    </button>
  </div>
</ng-template>

<!--
  ID
  status
  comment
  timestamp
  componentLog
    -->
