<div class="container">
    <div class="row padding-top">
    <div class="offset-md-2 col-md-4">
            <img src="http://i.pravatar.cc/400?img=68" class="rounded float-left img-thumbnail" alt="...">
    </div>
    <div class="col-md-4 profile_card ">

      <!-- full name -->
      <div class="form-group" >
          <div class="col-md-12">
            <div class="input-group">
              <div class="input-group-addon">
                  <i class="fa fa-user" aria-hidden="true"></i>
              </div>
              <input type="text" placeholder="John Doe" class="form-control input-md" disabled>
              </div>
          </div>
      </div>

      <!-- study number -->
      <div class="form-group">
          <div class="col-md-12">
            <div class="input-group">
              <div class="input-group-addon">
                  <i class="fa fa-id-card-o" aria-hidden="true"></i>
              </div>
              <input type="text" placeholder="s15123456" class="form-control input-md" disabled>
              </div>
          </div>
      </div>

      <!-- email -->
      <div class="form-group">
          <div class="col-md-12">
            <div class="input-group">
              <div class="input-group-addon">
                  <i class="fa fa-envelope-o" aria-hidden="true"></i>
              </div>
              <input type="text" placeholder="s15123456@student.dtu.dk" class="form-control input-md" disabled>
              </div>
          </div>
      </div>

      <!-- phonenumber -->
      <div class="form-group">
          <div class="col-md-12">
            <div class="input-group">
              <div class="input-group-addon">
                  <i class="fa fa-phone" aria-hidden="true"></i>
              </div>
              <input type="text" placeholder="+45 12 34 56 78" class="form-control input-md" disabled>
              </div>
          </div>
      </div>
  
      <!-- address -->
      <div class="form-group">
          <div class="col-md-12">
            <div class="input-group">
              <div class="input-group-addon">
                  <i class="fa fa-phone" aria-hidden="true"></i>
              </div>
              <input type="text" placeholder="+45 12 34 56 78" class="form-control input-md" disabled>
              </div>
          </div>
      </div>
  


    </div>

  </div>
</div>