<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 d-none d-sm-block navbar-light bg-light sidebar">

      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <button (click)=selectOverview() type="button" class="btn btn-light btn-sm btn-block" [class.btn-outline-secondary]="overview == true"><i class="fa fa-object-group" aria-hidden="true"></i>  Overview</button>
        </li>

        <li class="nav-item">
            <button (click)=selectMemberlist() type="button" class="btn btn-light btn-sm btn-block" [class.btn-outline-secondary]="documents == true"><i class="fa fa-id-card " aria-hidden="true"></i> Memberlist</button>
        </li>
  
        <li class="nav-item">
          <button (click)=selectComponenttype() type="button" class="btn  btn-light btn-sm btn-block" [class.btn-outline-secondary]="componenttype == true"><i class="fa fa-file-text" aria-hidden="true"></i>  Componenttype</button>
        </li>

        <li class="nav-item">
          <button (click)=selectLog() type="button" class="btn btn-light btn-sm btn-block" [class.btn-outline-secondary]="log == true"><i class="fa fa-area-chart" aria-hidden="true"></i> Log</button>
        </li>

      </ul>

    </nav>

    <main role="main" class="col-sm-6 ml-sm-auto col-md-10 pt-3">

       
        

      <h2 class="text-muted">{{project.name}}</h2> <!--TODO: get componenttype name-->

      <section  *ngIf="overview">
          <app-project-overview [model]="project"></app-project-overview>  
      </section> 
      
      <section  *ngIf="memberlist">
          <app-project-memberlist></app-project-memberlist>
        </section>

      <section *ngIf="componenttype">
        <app-project-componenttype></app-project-componenttype>
      </section>

      <section *ngIf="log">
        <app-projects-log></app-projects-log>
      </section>


  
    
    </main>

   
    <!--Recent Activity-->
    <nav class="col-sm-3 col-md-2 d-none d-sm-block recentlog" *ngIf="!log">
      <div class="table-container">
        <h5>Recent activity</h5>
        <table class="table table-filter" >
          <tbody >

            <!-- row 1 -->
           
            <tr *ngFor="let data of projectLog">
              <td>
                <a (click)="openModal(logmodal, data)">
                <div class="media" >
                  <span  class="pull-left">
                    <img src="http://i.pravatar.cc/300" class="media-photo rounded-circle">
                  </span>
                  <div class="media-body">
                    <span class="media-meta pull-right">{{data.timestamp| timeago}}</span>
                    <h4 class="title text-info">
                      {{data.submitter}}
                      <br>
                      <span class="badge badge-success" *ngIf="data.logtype=='created'">Created</span>
                      <span class="badge badge-danger" *ngIf="data.logtype=='deleted'">Deleted</span>
                      <span class="badge badge-info" *ngIf="data.logtype=='rollback'">Rollback</span>
                      <span class="badge badge-primary" *ngIf="data.logtype=='updated'">Updated</span>
                    </h4>
                    
                    <p class="summary">{{data.comment | stringlength: 50}}</p>
                  </div>
                </div>
              </a>
              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </nav>

  </div>
</div>

<ng-template #logmodal>
  <logmodal [log]="selectedProjectLog" [logModal]="modalRef"></logmodal>
</ng-template>

