<div class="col-9">
  <button type="button" class="btn btn-outline-secondary pull-right" (click)="openModal(editOverview)">Edit Overview</button>
  <h4 class="text-muted">Overview:</h4>
  <hr>
        <div class="media">
            
            <p>
                <!--Owner, (not implemented in backend, and may not be relevant anyways)-->
                <span class="text-muted">Created by:</span>   <a href="#" class="text-info"> Someone</a> 
                <br>
                <!--Category-->
                <span class="badge badge-primary">{{componenttype.category}}</span>
                <br>
                <!--Storage-->
                <span class="text-muted">Storage: {{componenttype.storage}}</span> 
            </p>
        </div>
    <!--Description-->
    <p>{{componenttype.description}}</p>
</div>

<ng-template #editOverview>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Overview</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-control" [formGroup]="componenttypeForm" (ngSubmit)="onSubmit()">
      <label>Name</label>
      <input type="text" class="form-control" formControlName="title" tooltip="Name of the componenttype" required>
      <label>Descripton (Optional)</label>
      <textarea type="text" class="form-control" formControlName="description" tooltip="A description of the componenttype"></textarea>
      <label>Category (Optional)</label>
      <input type="text" class="form-control" formControlName="category" tooltip="The category that the componenttype belongs to">
      <label>Storage</label> <!--Value is 0 by default, negative values should not be allowed-->
      <input type="number" min="0" class="form-control" formControlName="storage" tooltip="The number of components in storage" required>

      <button class="btn btn-success btn-block" type="submit">
        Submit
      </button>
    </form>
  </div>
</ng-template>
