<div class="col-9">
  <h4 class="text-muted">Overview:</h4>
  <hr>
        <div class="media">
            
            <p>
                <span class="text-muted">created by:</span>   <a href="#" class="text-info"> Thomas Bech</a> 
                <br>
                <span class="badge badge-primary">Wheel</span>
                <br>
                <br>
                <span class="text-muted">storage: 200 boxes</span> 
            </p>
          
              
          
        </div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum consectetur aliquid quod in, tempore facere assumenda. Quibusdam iste ab eligendi doloremque assumenda, officia quia consequatur molestias sed. Deserunt, ullam culpa. Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, expedita quaerat consequuntur dolorum at, vitae voluptate saepe cum beatae modi provident nulla omnis impedit velit animi exercitationem repellendus, sed illum!</p>
</div>



<!--
    title
    description
    category
    storage


-->
