<div class="col-9">
  <button type="button" class="btn btn-success pull-right" (click)="openModal(uploadDocument)">Upload Document</button>
  <h4 class="text-muted">Documents:</h4>
  <hr>

  <app-documenttable [documents]="mydocuments"></app-documenttable>
</div>

<ng-template #uploadDocument>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Upload Document</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Create Folder: <input type="checkbox" [(ngModel)]="checkboxIsFolder">
    <div  *ngIf="checkboxIsFolder; then folderTemplate else documentTemplate "></div>
  </div>
</ng-template>

<ng-template #documentTemplate>
  <form class="form-control" [formGroup]="documentForm" (ngSubmit)="onUploadDocument()">
    <label>Title</label>
    <input type="text" class="form-control" placeholder="Title..." formControlName="title" tooltip="The filename displayed" autofocus required>
    <label>Select a file to upload:</label>
    <br>
    <input type="file" class="uploadBtn" formControlName="file" tooltip="The file to be uploaded">

    <button class="btn btn-success btn-block" type="submit">
      Upload
    </button>
  </form>
</ng-template>

<ng-template #folderTemplate>
  <form class="form-control" [formGroup]="folderForm" (ngSubmit)="onCreateFolder()">
    <label>Title</label>
    <input type="text" class="form-control" placeholder="Title..." formControlName="title" tooltip="The name of the folder" autofocus required>
    <button class="btn btn-success btn-block" type="submit">
      Create
    </button>
  </form>
</ng-template>
