<h4 class="text-muted">Log:</h4>
<hr>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Submitter</th>
      <th scope="col">Timestamp</th>
      <th scope="col">Comment</th>
      <th scope="col">Target</th>
      <th scope="col">Event</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of logdata">
      <th scope="row">{{data.id}}</th>
      <td>{{data.submitter}}</td>
      <td>{{data.timestamp  | date: 'mediumDate'}}</td>
      <td>{{data.comment}}</td>
      <td>{{data.target}}</td>
      <td>

        <span class="badge badge-success" *ngIf="data.logtype=='created'">Created</span>
        <span class="badge badge-danger" *ngIf="data.logtype=='deleted'">Deleted</span>
        <span class="badge badge-info" *ngIf="data.logtype=='rollback'">Rollback</span>
        <span class="badge badge-primary" *ngIf="data.logtype=='updated'">Updated</span>
      </td>
    </tr>
  </tbody>
</table>


<div class="col-xs-12 col-12">
    <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" class="pagination-sm"
                previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
</div>