<h5 class="text-muted">Log:</h5>
<table class="table table-hover cursor-pointer">
  <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Submitter</th>
        <th scope="col">Timestamp</th>
        <th scope="col">Comment</th>
        <th scope="col">Event</th>
    </tr>
  </thead>
  <tbody>

      <tr *ngFor="let data of logdata" >
          <th scope="row" (click)="openModal(logmodal, data)">{{data.id}}</th>
          <td (click)="openModal(logmodal, data)">{{data.submitter}}</td>
          <td (click)="openModal(logmodal, data)">{{data.timestamp  | date: 'mediumDate'}}</td>
          <td (click)="openModal(logmodal, data)">{{data.comment | stringlength: 50}}</td>
          <td (click)="openModal(logmodal, data)">
            <span class="badge badge-success" *ngIf="data.logtype=='created'">Created</span>
            <span class="badge badge-danger" *ngIf="data.logtype=='deleted'">Deleted</span>
            <span class="badge badge-info" *ngIf="data.logtype=='rollback'">Rollback</span>
            <span class="badge badge-primary" *ngIf="data.logtype=='updated'">Updated</span>
          </td>
        </tr>
  </tbody>
</table>


<ng-template #logmodal>
    <logmodal [log]="selectedLogEntry" [logModal]="modalRef"></logmodal>
  </ng-template>
