<div class="container">
  <div class="row cardview">
    <div class="col-12">
        <div class="card-deck">
            <div class="card border-primary">
              <img class="card-img-top" src="http://lorempizza.com/300/400" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
              <div class="card-footer">
                  <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
              </div>
            </div>
            <div class="card border-primary">
              <img class="card-img-top" src="http://lorempizza.com/300/400" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
              </div>
              <div class="card-footer">
                  <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
              </div>
            </div>
            <div class="card border-primary">
              <img class="card-img-top" src="http://lorempizza.com/300/400" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
              </div>
              <div class="card-footer">
                  <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
              </div>
            </div>
            <div class="card border-primary">
                <img class="card-img-top" src="http://lorempizza.com/300/400" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-primary btn-block">Go somewhere</a>
                </div>
              </div>
          </div>
    </div>
  </div>
</div>

