<div class="container">
  <div class="row cardview">
    <div class="col-3">
        <div class="card-deck">

            <div class="card" (click)="cardClick()">
              <img class="card-img-top" src="http://lorempizza.com/300/400">
              <div class="card-img-overlay pull-down">
                <h5 class="card-title">Project Name</h5>
                <p class="card-text">This is where we should put the project description. Yes. That would be cool...</p>
              </div>
            </div>


          </div>
    </div>
  </div>
</div>

