<div class="container">

  <div class="row">
      <button type="button" class="btn btn-primary pull-right" (click)="openModal()">Nyt project</button>
      
  </div>

  <div class="clearfix"></div>

  <div class="row">
      
      <div class="card-deck">
      
        <div class="card" (click)=cardClick(project.id) *ngFor="let project of projects" >
          <img class="card-img-top" src="http://lorempizza.com/300/400"><!--TODO get project image-->
          <div class="card-body">
            <h5 class="card-title">{{project.name}}</h5>
            <p class="card-text">{{project.description}}</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated: 5 mins ago</small><!--TODO get timestamp-->
          </div>
        </div>
     
      
 </div>
</div>  
</div>

<ng-template #editProject>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Project {{selectedProject.id}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-control" [formGroup]="projectForm" (ngSubmit)="onVerifyCN()">
      <label>Description</label>
      <textarea type="text" class="form-control" placeholder="Description..." formControlName="description" value={{selectedProject.description}} tooltip="Description of the project" required></textarea>
      <label>Comment</label>
      <textarea type="text" class="form-control" placeholder="Comment..." formControlName="comment" value={{selectedProject.comment}} tooltip="Any other comments about the project"></textarea>
    </form>

    <button class="btn btn-success btn-block" type="submit">
      <!--TODO: Edit project-->
      Submit
    </button>
  </div>
</ng-template>

<ng-template #deleteProject>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Delete Project {{selectedProject.id}}?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>The project will be deleted, but can be restored with a rollback</p>
    <button class="btn btn-danger btn-block" type="submit">
      <!--TODO: Delete project-->
      Delete
    </button>
  </div>
</ng-template>

