<div class="row register">
    <div class="col-md-4 offset-md-4">
        <h1 class="text-center register-title">Verify DTU login</h1>
        <div class="account-wall">
            <img class="profile-img" src="assets/dtu_logo.png"
                alt="">
            <form class="form-signin"  [formGroup]="formregister" (ngSubmit)="onSubmit()">
            <input type="text" class="form-control" placeholder="Username" formControlName="userName" required autofocus>
            <input type="password" class="form-control" placeholder="Password" formControlName="password" required>
            
            
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                Verify 
            </button>


          
            
            </form>
        </div>
       
    </div>
</div>