<div class="row register">
  <div class="col-md-4 offset-md-4">
    <div *ngIf="cnVerified; then changePassword else verify">
    </div>
  </div>
</div>

<ng-template #verify>
  <h1 class="text-center register-title">Verify DTU Login</h1>
  <div class="account-wall">
    <img class="profile-img" src="assets/dtu_logo.png"
         alt="">
    <form class="form-signin" [formGroup]="CNForm" (ngSubmit)="onVerifyCN()">
      <input type="text" class="form-control" placeholder="Username" formControlName="username" required autofocus>
      <input type="password" class="form-control" placeholder="Password" formControlName="password" required>

      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Verify
      </button>
    </form>
  </div>

</ng-template>

<ng-template #changePassword>
  <h1 class="text-center register-title">Choose New Password</h1>
  <div class="account-wall">
    <img class="profile-img" src="assets/dtu_logo.png"
         alt="">
    <form class="form-signin" [formGroup]="passwordForm" (ngSubmit)="onSubmitPassword()">
      <input type="text" class="form-control form-top" value={{cnUser.id}} readonly />
      <input type="text" class="form-control form-middle" value={{cnUser.name}} readonly />
      <input type="text" class="form-control form-middle" value={{cnUser.email}} readonly />
      <input type="text" class="form-control form-middle" value={{cnUser.phone}} readonly />
      <input type="text" class="form-control form-bottom" value={{cnUser.studyline}} readonly />
      <input type="password" class="form-control form-top" placeholder="New Password" formControlName="newPassword" required autofocus>
      <input type="password" class="form-control form-bottom" placeholder="Repeat Password" formControlName="repeatNewPassword" required>

      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Submit
      </button>
    </form>
  </div>
</ng-template>

<br>
  <div class="offset-lg-2 col-lg-8" *ngFor="let alert of alerts">
    <alert [type]="alert.type" [dismissible]="dismissible" dismissOnTimeout="5000">
      <span [innerHtml]="alert.msg"></span>
    </alert>
  </div>
