.navbar-brand {
    padding: 0px; /* firefox bug fix */
  }
  .navbar-brand>img {
    height: 60px;
    padding: 5px; /* firefox bug fix */
    width: auto;
  }

  #avatar{
    padding: 0px;
  }

  #avatar>img{
    height: 40px;
    padding: 5px; /* firefox bug fix */
    width: auto;
  }

