<div class="col-9">
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-success" (click)="openModal(addMember)">Add Member</button>
    <button type="button" class="btn btn-danger" (click)="openModal(removeMember)">Remove Member</button>
  </div>
  <h4 class="text-muted">Project members:</h4>
  <hr>
    <div class="media">
            
      <p>
        <span class="text-muted">Project owner:</span>   <a href="#" class="text-info"> Thomas Bech</a> 
        <br>
        <span class="text-muted">Members:</span> 
        <br>
        <a *ngFor="let member of members" routelink="#" class="member-info"> {{member.name}} <br></a>
     </p>          
  </div>
</div>

<ng-template #addMember>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Member</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-control" [formGroup]="memberForm" (ngSubmit)="onAddMember()">
      <label>Student Number / Campusnet ID</label>
      <textarea type="text" class="form-control" placeholder="ID..." formControlName="memberId" tooltip="Student number or campusnet ID for non-students"></textarea>
      <button class="btn btn-success btn-block" type="submit">
        Add
      </button>
    </form>
  </div>
</ng-template>

<ng-template #removeMember>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Remove Member</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-control" [formGroup]="memberForm" (ngSubmit)="onRemoveMember()">
      <label>Student Number / Campusnet ID</label>
      <textarea type="text" class="form-control" placeholder="ID..." formControlName="memberId" tooltip="Student number or campusnet ID for non-students"></textarea>
      <button class="btn btn-danger btn-block" type="submit">
        Remove
      </button>
    </form>
  </div>
</ng-template>

