<div class="col-9">
  <div class="btn-group pull-right">
    <button type="button" class="btn btn-success" (click)="openModal(addMember)">Add Member</button>
    <button type="button" class="btn btn-danger" (click)="openModal(removeMember)">Remove Member</button>
  </div>
  <h4 class="text-muted">Project members:</h4>
  <hr>
    <div class="media">
            
      <p>
        <span class="text-muted">Project owner:</span>   <a href="#" class="text-info"> Thomas Bech</a> 
        <br>
       
     </p>          
  </div>

  <div class="input-group input-group-lg search_bar">
      <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
      <input type="text" class="form-control" placeholder="search members..." aria-describedby="sizing-addon1" [(ngModel)]="searchText">
  </div>
  
  <div class="list-group">
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start"
         routerLink="/profile"
      *ngFor="let member of members | searchMember : searchText">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{member.name }}</h5>
            <small class="text-muted"><span class="badge badge-secondary">{{member.studyline}}</span> </small>
            
        </div>
        <p class="mb-1"><i class="fa fa-id-badge" aria-hidden="true"></i> {{member.id}}</p>
        <small class="text-muted"><i class="fa fa-phone" aria-hidden="true"></i> {{member.phone}} <br>  <i class="fa fa-envelope" aria-hidden="true"></i> {{member.email}}</small>
      </a>
  </div>
  
</div>
<br>
<!--Alert on bad input-->
<div class="offset-lg-2 col-lg-8" *ngFor="let alert of alerts">
  <alert [type]="alert.type" [dismissible]="dismissible" dismissOnTimeout="5000">
    <span [innerHtml]="alert.msg"></span>
  </alert>
</div>

<ng-template #addMember>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Add Member</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-control no-boarder" [formGroup]="memberForm" (ngSubmit)="onAddMember()">
      <div class="form-group" [ngClass]="{'invalid':!memberForm.controls['memberId'].valid && memberForm.controls['memberId'].touched }">
     
        <label>Student Number / Campusnet ID</label>
        <textarea type="text" class="form-control" placeholder="ID..." formControlName="memberId" tooltip="Student number or campusnet ID for non-students"></textarea>
      </div>
      
      <button 
      class="btn btn-primary btn-block" 
      type="submit" 
      [disabled]="!memberForm.valid" 
      [ngClass]="{'btn-secondary':!memberForm.valid}"> 
      subaddmit 
    </button>
    </form>
  </div>
</ng-template>

<ng-template #removeMember>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Remove Member</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-control no-boarder" [formGroup]="memberForm" (ngSubmit)="onRemoveMember()">
      <div class="form-group" [ngClass]="{'invalid':!memberForm.controls['memberId'].valid && memberForm.controls['memberId'].touched }">
        <label>Student Number / Campusnet ID</label>
        <textarea type="text" class="form-control" placeholder="ID..." formControlName="memberId" tooltip="Student number or campusnet ID for non-students"></textarea>
      </div>
      <button 
        class="btn btn-primary btn-block" 
        type="submit" 
        [disabled]="!memberForm.valid" 
        [ngClass]="{'btn-secondary':!memberForm.valid}"> 
        subaddmit 
      </button>
    </form>
  </div>
</ng-template>

