  
   <!-- Main jumbotron for a primary marketing message or call to action -->
   <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">About</h1>
      <p>This project is created by five DTU students</p>


    </div>
  </div>

  <!-- START THE FEATURETTES -->

<div class="container">

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Daniel<span class="text-muted"> Plaetner-Cancela</span></h2>
      <p class="lead">Softwaretechnology student and founder</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="/assets/about/daniel.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Thomas<span class="text-muted"> Bech Madsen</span></h2>
      <p class="lead">Softwaretechnology student and founder</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/about/thomas.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Cecilie<span class="text-muted"> Lindberg</span></h2>
      <p class="lead">Softwaretechnology student and founder</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="/assets/about/cecilie.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Sebastian<span class="text-muted"> Hjorth</span></h2>
      <p class="lead">Softwaretechnology student and founder</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/about/sebastian.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Rasmus<span class="text-muted"> Olsen</span></h2>
      <p class="lead">Softwaretechnology student and founder</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="/assets/about/rasmus.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

  <div class="col-1">
    <a routerLink="/login" class="btn btn-primary" id="backbtn">back</a>
</div>

</div><!-- /.container -->