  
   <!-- Main jumbotron for a primary marketing message or call to action -->
   <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">About</h1>
      <p>This project is created by five DTU students</p>


    </div>
  </div>

<!-- TEMPLATE
  
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">[NAME]<span class="text-muted">[ROLE]</span></h2>
      <p class="lead">[EDUCATION]</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="/assets/about/daniel.jpg" alt="Generic placeholder image">
    </div>
  </div>

-->


  <!-- START THE FEATURETTES -->

<div class="container">

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Daniel Plaetner-Cancela<span class="text-muted"> - Founder</span></h2>
      <p class="lead">B. Eng. Softwaretechnology</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="/assets/about/daniel.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Thomas Bech Madsen<span class="text-muted"> - Founder</span></h2>
      <p class="lead">B. Eng. Softwaretechnology</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/about/thomas.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Cecilie Lindberg<span class="text-muted"> - Founder</span></h2>
      <p class="lead">B. Eng. Softwaretechnology</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="/assets/about/cecilie.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Sebastian Hjorth<span class="text-muted"> - Founder</span></h2>
      <p class="lead">B. Eng. Softwaretechnology</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/about/sebastian.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Rasmus Olsen<span class="text-muted"> - Founder</span></h2>
      <p class="lead">B. Eng. Softwaretechnology</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="/assets/about/rasmus.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

  <div class="col-1">
    <a routerLink="/login" class="btn btn-primary" id="backbtn">back</a>
</div>

</div><!-- /.container -->
