.DTU-Logo
{
    width: 100px;
    height: 140px;
    margin: 0 auto 10px;
    display: block;
}

.jumbotron{
    margin-top: -90px;
}

#backbtn{
    position: fixed; 
    bottom: 5px; 
    right: 5px;
} 