  
   <!-- Main jumbotron for a primary marketing message or call to action -->
   <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">About</h1>
      <p class="text-justify">This project is created by five software students at DTU (Technical University of Denmark) in association with DTU Roadrunners and DTU Mathematics and Computer Science. The project is designed to construct a version management system where guests, engineers and teachers can view, save and edit data and documentation for multiple projects. It must be subsequently documented for future projects, such as chemistry and other institutions at DTU.</p>


    </div>
  </div>

<!-- TEMPLATE
  
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">[NAME]<span class="text-muted">[ROLE]</span></h2>
      <p class="lead">[EDUCATION]</p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="/assets/about/daniel.jpg" alt="Generic placeholder image">
    </div>
  </div>

-->


  <!-- START THE FEATURETTES -->

<div class="container">

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Daniel Plaetner-Cancela<span class="text-muted"> - Founder</span></h2>
      <p class="lead">B. Eng. Softwaretechnology
        <br>
        <span><i class="fa fa-github" aria-hidden="true"></i> <a class="text-secondary" href="https://github.com/danielpc">danielpc</a></span>
        <br>
        <span><i class="fa fa-linkedin" aria-hidden="true"></i> <a class="text-secondary" href="https://www.linkedin.com/in/daniel-plaetner-cancela-a5aa2a89/">daniel-plaetner-cancela</a></span>
        <br>
        <span><i class="fa fa-envelope-o" aria-hidden="true"></i> <span class="text-secondary">s154163@student.dtu.dk</span></span>
        <br>
        <span><i class="fa fa-home" aria-hidden="true"></i> <a class="text-secondary" href="http://danielpc.dk/">danielpc.dk</a></span>
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="/assets/about/daniel.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Thomas Bech Madsen<span class="text-muted"> - Founder</span></h2>
      <p class="lead">B. Eng. Softwaretechnology
        <br>
        <span><i class="fa fa-github" aria-hidden="true"></i> <a class="text-secondary" href="https://github.com/ThomasBechMadsen">ThomasBechMadsen</a></span>
        <br>
        <span><i class="fa fa-linkedin" aria-hidden="true"></i> <a class="text-secondary" href="https://www.linkedin.com/in/thomas-bech-madsen/">thomas-bech-madsen</a></span>
        <br>
        <span><i class="fa fa-envelope-o" aria-hidden="true"></i> <span class="text-secondary">thomasbm@live.dk</span></span>
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/about/thomas.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Cecilie Lindberg<span class="text-muted"> - Founder</span></h2>
      <p class="lead">B. Eng. Softwaretechnology
        <br>
        <span><i class="fa fa-github" aria-hidden="true"></i> <a class="text-secondary" href="https://github.com/cille112">cille112</a></span>
        <br>
        <span><i class="fa fa-envelope-o" aria-hidden="true"></i> <span class="text-secondary">s153869@student.dtu.dk</span></span>
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="/assets/about/cecilie.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading">Sebastian Hjorth<span class="text-muted"> - Founder</span></h2>
      <p class="lead">B. Eng. Softwaretechnology
        <br>
        <span><i class="fa fa-github" aria-hidden="true"></i> <a class="text-secondary" href="https://github.com/Hjorthen">Hjorthen</a></span>
        <br>
        <span><i class="fa fa-envelope-o" aria-hidden="true"></i> <span class="text-secondary">s153255@student.dtu.dk</span></span>
      </p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="/assets/about/sebastian.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading">Rasmus Olsen<span class="text-muted"> - Founder</span></h2>
      <p class="lead">B. Eng. Softwaretechnology
        <br>
        <span><i class="fa fa-github" aria-hidden="true"></i> <a class="text-secondary" href="https://github.com/Clusive">Clusive</a></span>
        <br>
        <span><i class="fa fa-envelope-o" aria-hidden="true"></i> <span class="text-secondary">s153953@student.dtu.dk</span></span>
      </p>
    </div>
    <div class="col-md-5">
      <img class="featurette-image img-fluid mx-auto" src="/assets/about/rasmus.jpg" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->

  <div class="col-1">
    <a routerLink="/login" class="btn btn-primary" id="backbtn">back</a>
</div>

</div><!-- /.container -->
