/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
    min-height: 75rem !important;
    padding-top: 5.5rem !important;
}

.showmobile{
    display: none;
}

@media screen and (max-width: 480px) {
    .showmobile{
        display: block;
    }
}

.invalid input{
    border-color: #dc3545 !important;
}

.invalid textarea{
    border-color: #dc3545 !important;
}