<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 d-none d-sm-block navbar-light bg-light sidebar">

      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <button (click)=selectOverview() type="button" class="btn btn-light btn-sm btn-block" [class.btn-outline-secondary]="overview == true"><i class="fa fa-object-group" aria-hidden="true"></i>  Overview</button>
        </li>

        <li class="nav-item">
          <button (click)=selectComponents() type="button" class="btn  btn-light btn-sm btn-block" [class.btn-outline-secondary]="components == true"><i class="fa fa-file-text" aria-hidden="true"></i>  Components</button>
        </li>

        <li class="nav-item">
          <button (click)=selectDocuments() type="button" class="btn btn-light btn-sm btn-block" [class.btn-outline-secondary]="documents == true"><i class="fa fa-folder-open" aria-hidden="true"></i> Documents</button>
        </li>

        <li class="nav-item">
          <button (click)=selectLog() type="button" class="btn btn-light btn-sm btn-block" [class.btn-outline-secondary]="log == true"><i class="fa fa-area-chart" aria-hidden="true"></i> Log</button>
        </li>

      </ul>

    </nav>

    <main role="main" class="ml-sm-auto col-md-10 pt-3">

      <div class="clearfix"></div>

      <div class="showmobile">
        <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn btn-secondary btn-block btn-dropdown dropdown-toggle">
              Componenttype menu<span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li role="menuitem"><a class="dropdown-item" (click)=selectOverview()><i class="fa fa-object-group" aria-hidden="true"></i>  Overview</a></li>
              <li role="menuitem"><a class="dropdown-item" (click)=selectComponents()><i class="fa fa-file-text" aria-hidden="true"></i>  Components</a></li>
              <li role="menuitem"><a class="dropdown-item" (click)=selectDocuments() ><i class="fa fa-folder-open" aria-hidden="true"></i> Documents</a></li>
              <li role="menuitem"><a class="dropdown-item" (click)=selectLog()><i class="fa fa-area-chart" aria-hidden="true"></i> Log</a>
              </li>
            </ul>
          </div>
      </div>
       

      <h2 class="text-muted">{{componenttype.name}}</h2> <!--TODO: get componenttype name-->

      <section  *ngIf="overview">
        <app-overview [model]="componenttype">
        </app-overview>
      </section>

      <section *ngIf="components">
        <app-components></app-components>
      </section>

      <section *ngIf="documents">
        <app-documents></app-documents>
      </section>

      <section  *ngIf="log">
        <app-log></app-log>
      </section>

    </main>

    <!--Recent Activity-->
    <nav class="col-sm-3 col-md-2 d-none d-sm-block recentlog" *ngIf="!log">
      <div class="table-container">
        <h5>Recent activity</h5>
        <table class="table table-filter">
          <tbody>

            <!-- row 1 -->
            <tr *ngFor="let data of componentTypeLog">
                <td>
                  <a (click)="openModal(logmodal, data)">
                  <div class="media" >
                    <span  class="pull-left">
                      <img src="http://i.pravatar.cc/300" class="media-photo rounded-circle">
                    </span>
                    <div class="media-body">
                      <span class="media-meta pull-right">{{data.timestamp| timeago}}</span>
                      <h4 class="title text-info">
                        {{data.submitter}}
                        <br>
                        <span class="badge badge-success" *ngIf="data.logtype=='created'">Created</span>
                        <span class="badge badge-danger" *ngIf="data.logtype=='deleted'">Deleted</span>
                        <span class="badge badge-info" *ngIf="data.logtype=='rollback'">Rollback</span>
                        <span class="badge badge-primary" *ngIf="data.logtype=='updated'">Updated</span>
                      </h4>
                    
                      <p class="summary">  <span class="text-muted">{{data.target}} </span> <br> {{data.comment | stringlength: 50}}</p>
                    </div>
                  </div>
                </a>
                </td>
              </tr>


          </tbody>
        </table>
      </div>
    </nav>

  </div>
</div>


<ng-template #logmodal>
    <logmodal [log]="selectedComponentTypeLog" [logModal]="modalRef"></logmodal>
  </ng-template>